<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <application
        android:name=".MyApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/appicon"
        android:banner="@mipmap/appbanner"
        android:supportsRtl="true"
        android:theme="@style/TvTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">
        <activity
            android:name=".streaming.ui.activities.EntryClass"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppSplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity android:name=".streaming.ui.activities.HomeScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/HomeScreenTheme">

        </activity>

        <activity
            android:name=".tv.activities.TvHomeActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Livecricketscoresupdates">

        </activity>
        <activity
            android:name=".streaming.ui.activities.PlayerScreen"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/PlayerTheme">

        </activity>

        <activity
            android:name=".tv.activities.TvChannelActivity"
            android:exported="false"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".tv.activities.TvPlayScreen"
            android:exported="false"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".tv.activities.TvMainActivity"
            android:theme="@style/TvTheme"
            android:exported="false"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5077877071835682~4246272625" />
        <activity
            android:name=".streaming.ui.activities.ExpendedActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@style/ExpendedTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".streaming.ui.activities.PlayerScreen" />
        </activity>


        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.traumsportzone.live.cricket.tv.scores.streaming.utils.playerutils.CastOptionsProvider" />

    </application>

</manifest>